body{
  margin: 0;
  background-color:rgb(241, 202, 209);
}

header{
  background-color: rgb(241, 202, 209);
}

.menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 30%;
  margin: auto;
}
.menu img{
  width: 70%;
  border: solid;
  background-color: white;
  padding: 5px;
}
a{
  text-decoration: none;
}
.menu img:hover{
  box-shadow: 0 0 6px black;
  cursor: pointer;
}
.title{
  text-align: center;
  font-weight: 500;
  font-size: 42px;
  font-family: 'Pacifico', cursive;
  background-color: purple;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
  color: white;
}
.home{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 2%;
}
.home iframe{
  margin-left: 2.5%
}
.home img{
  margin: auto;
  border: solid;
  border-radius: 5px;
}
.text1{
  margin: auto;
  width: 97%;
  font-weight: 400;
  font-family: Arial;
  font-size: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
.titleh1{
  display: block;
  text-align: center;
  color: rgb(100, 100, 100);
  font-weight: 800;
}

.gridservice{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#boxservice{
  margin-bottom: 2%;
  margin-left: 5%;
  width: 90%;
  background-color: aliceblue;
  border-radius: 4px;
}
#boxservice{
  text-align: center;
  display: block;
}
#boxservice img{
  width: 95%;
}
#boxservice p{
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 1080px){
  .menu{
    width: 75%;
  }
  .menu img{
    width: 95%;
    padding: 0;
  }
  .title{
    width: 90%;
    font-size: 24px;
  }
  .home{
    grid-template-columns: 1fr;
    margin-bottom: 1%;
  }
  #image-beauty{
    margin-bottom: 1%;
  }
  #box{
    width: 95%;
    order: 2;
    height:300px;
  }
  .text1{
    width: 90%;
    font-size: 20px;   
  }
  .gridservice{
    grid-template-columns: 1fr;
  }
}
